language: go

go:
  - 1.11.x

before_install:
  - go get github.com/tsdtsdtsd/githubinfocard
  - go get -v golang.org/x/lint/golint


script:
  - diff <(gofmt -d .) <(echo -n)
  - go vet -x ./...
  - golint ./...